.wd-dashboard-grid .col-md-4{
    width: 250px;
    height: 500px;
    border-radius: 0%;
}

.wd-dashboard-grid .col {
    width: 250px;
}

.wd-dashboard-grid a{
    color: rgb(78, 95, 160);
    text-decoration: none;
}