.wd-dashboard-grid .card-title {
    color:rgb(0, 115, 255);
    font-weight: 700;
}

.wd-dashboard-grid .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wd-dashboard-grid{
    font-size: small;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.wd-dashboard-grid a{
    font-size: small;
    color: black;
    text-decoration: none;
}

.wd-dashboard-grid img{
    border-radius: 0%;
    width: 270px;
    height: 150px;
    padding: 0px;
    margin: 0px;
}


.wd-dashboard-grid .card {
    width: 270px;
    height: 270px;
    border-radius: 0%;
    margin: 20px;
    padding: 0px;
}

.wd-dashboard-grid .col {
    width: 300px;
    height: 300px;
}
