.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation {
    background-color: black;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

.wd-kanbas-navigation i {
    color: red;
    font-size: 4em;
}

.wd-kanbas-navigation.list-group {
    border-radius: 0;
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
}
  
.wd-kanbas-navigation .list-group-item {
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}
  
.wd-kanbas-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border-color: white;
    border: 0px;
}

.wd-kanbas-navigation .list-group-item.active a {
    color: red;
    text-decoration: none;
}