.wd-course-navigation.list-group {
    border-radius: 0;
    margin: 15px;
    margin-top: 100px;
}
  
.wd-course-navigation .list-group-item {
    color: red;
    background-color: white;
    border: none;
    padding-left: 5px
}
  
.wd-course-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border-color: white;
    border-left: 2px solid black;
}

.wd-course-navigation-pop.list-group {
    border-radius: 0;
    margin: 15px;
    margin-top: 100px;
}
  
.wd-course-navigation-pop .list-group-item {
    color: red;
    background-color: white;
    border: none;
    padding-left: 5px
}
  


.wd-profile a{
    color: red;
    text-decoration: none;
}

.wd-profile .col a{
    color: black;
    text-decoration: none;
}


.wd-profile .row{
   width:900px;
   margin:20px;
}


.wd-button a{
    color: black;
    text-decoration: none;
}

.wd-breadcrumb {
    width: 1750px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 0px;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: white;
    z-index: 5000;
}

.wd-breadcrumb i{
    margin-right: 50px;
    font-size: 2em;
}

.wd-breadcrumb a{
    color: red;
    text-decoration: none;
}

.wd-breadcrumb-black {
    position:fixed-top;
    width: 1100px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: blue;
    text-decoration: none;
}

.wd-breadcrumb-black a{
    color: white;
    text-decoration: none;
    font-size: large;
    text-align: center;
}

.wd-breadcrumb-black i{
    color: white;
    margin-right: 50px;
    padding-left:10px;
    font-size: 2em;
}

.wd-modules {
    margin: 10px;
}

.wd-modules a{
    color:red;
    text-decoration: none;
}
.wd-modules i{
    color:green;
    margin-right: 5px;
}

.wd-modules a i{
    color:red;
}

.wd-modules .list-group-item.title{
    color: black;
    font-weight: bold;
    background-color: white
}
.wd-modules .list-group-item.indented{
    padding-left: 30px;
    color: black;
    background-color: white
}

.wd-assignments.list-group{
    margin: 10px;
}

.wd-assignments a{
    color:red;
    text-decoration: none;
}
.wd-assignments i{
    color:green;
    padding-left: 0px;
    margin-right: 5px;
    font-size: 20px;
}

.wd-assignments a i{
    color:red;
}


.wd-assignments .list-group-item{
    padding-left: 20px;
    margin-bottom: 1px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
}

.wd-assignments .list-group-item a{
   color:black;
   font-weight: bolder;
}


.wd-assignments .indented{
    padding-left: 40px;
    color:gray;
    background-color: white;
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
}


.wd-assignment-editor .col-3{
    margin-bottom: 20px;
    text-align: right;
}

.wd-assignment-editor .col-6{
  border-color: black;
}

.input-group-append {
    cursor: pointer;
}

.wd-settings a{
    color:red;
}

.wd-settings .col-3.title{
    color:black;
    font-weight: bold;
}

.wd-navigation .indented{
    padding-left: 40px;
    color:gray;
    background-color: white;
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
}
